{% extends 'base.html' %}
{% block title %} Checkout Page || CleaverCode {% endblock title %}
{% block body %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form action="#">
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form>
            			</div><!-- End .checkout-discount -->
            			<form action="" method="post">
						{% csrf_token %}
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				
	        						{{ billing_address.as_p }}

	                					{% comment %} <label>Order notes (optional)</label>
	        							<textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea> {% endcomment %}
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						
											{% for item in order_item %}
		                						<tr>
		                							<td><a href="#">{{ item.item.name }}</a></td>
		                							{% if item.get_total %}
														<td>${{ item.get_total }}</td>
													{% elif item.variation_single_price %}
														<td>${{ item.variation_single_price }}</td>
													{% elif item.variation_total %}
														<td>${{ item.variation_total }}</td>
													{% endif %}
		                						</tr>
											{% endfor %}
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>${{order_total}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>${{order_total}}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
											{% if pay_meth %}
												<div id="paypal-button-container"></div>
											{% else %}
												{{payment_method.as_p}}
											
											
											<br>
											
											<br>
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
										{% endif %}
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock %}


{% block paypal %}

	<script
		src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}">
	</script>


	<script>
		function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
					}
				}
			}
			return cookieValue;
		}

		var csrftoken = getCookie('csrftoken');
		var url = "{% url 'paypal_payment' %}"

		paypal.Buttons({
			createOrder: function(data, actions) {
			// This function sets up the details of the transaction, including the amount and line item details.
			return actions.order.create({
				purchase_units: [{
				amount: {
					value: {{order_total}}
				}
				}]
			});
			},
			onApprove: function(data, actions) {
		// This function captures the funds from the transaction.
		return actions.order.capture().then(function(details) {
			console.log(details);
			sendData();
			function sendData(){
				fetch(url, {
					method: "POST",
					headers: {
						'Content-type': "application/json",
						'X-CSRFToken': csrftoken
					},
					body: JSON.stringify({
						'order_id': details.id,
						'payment_id':details.payer.payer_id,
						'status': details.status
					}),
				})
			}
			window.location.href = "{% url 'store:index' %}";
		});
		}
		}).render('#paypal-button-container');
</script>
{% endblock paypal %}