<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load notification %}
    

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>CORK Admin - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="{% static 'user_profile/assets/img/favicon.ico' %}"/>
    <link href="{% static 'user_profile/assets/css/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'user_profile/assets/js/loader.js' %}"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'user_profile/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'user_profile/assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'user_profile/plugins/apex/apexcharts.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'user_profile/assets/css/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <link href="{% static 'user_profile/assets/css/users/user-profile.css' %}" rel="stylesheet" type="text/css" />
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/plugins/dropify/dropify.min.css' %}">
    <link href="{% static 'user_profile/assets/css/users/account-setting.css' %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'user_profile/plugins/drag-and-drop/dragula/dragula.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'user_profile/plugins/drag-and-drop/dragula/example.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/assets/css/forms/switches.css' %}">
    <link href="{% static 'user_profile/plugins/pricing-table/css/component.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/plugins/editors/quill/quill.snow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/assets/css/forms/theme-checkbox-radio.css' %}">
    <link href="{% static 'user_profile/assets/css/apps/todolist.css' %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'user_profile/plugins/animate/animate.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'user_profile/assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'user_profile/assets/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/assets/css/forms/theme-checkbox-radio.css' %}">
    <link href="{% static 'user_profile/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'user_profile/assets/css/apps/contacts.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES --> 

    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="{% static 'user_profile/plugins/fullcalendar/fullcalendar.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'user_profile/plugins/fullcalendar/custom-fullcalendar.advance.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'user_profile/plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'user_profile/plugins/flatpickr/custom-flatpickr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'user_profile/assets/css/forms/theme-checkbox-radio.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLE -->

</head>
<body class="alt-menu sidebar-noneoverflow">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm expand-header">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-item flex-row ml-auto">

                <li class="nav-item align-self-center search-animated">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search toggle-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    <form class="form-inline search-full form-inline search" role="search">
                        <div class="search-bar">
                            <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
                        </div>
                    </form>
                </li>
                
                <li class="nav-item dropdown message-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="messageDropdown">
                        <div class="">
                            <a class="dropdown-item">
                                <div class="">

                                    <div class="media">
                                        <div class="user-img">
                                            <div class="avatar avatar-xl">
                                                <span class="avatar-title rounded-circle">KY</span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="">
                                                <h5 class="usr-name">Kara Young</h5>
                                                <p class="msg-title">ACCOUNT UPDATE</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="">
                                    <div class="media">
                                        <div class="user-img">
                                            <img src="assets/img/90x90.jpg" class="img-fluid mr-2" alt="avatar">
                                        </div>
                                        <div class="media-body">
                                            <div class="">
                                                <h5 class="usr-name">Daisy Anderson</h5>
                                                <p class="msg-title">ACCOUNT UPDATE</p>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="">

                                    <div class="media">
                                        <div class="user-img">
                                            <div class="avatar avatar-xl">
                                                <span class="avatar-title rounded-circle">OG</span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="">
                                                <h5 class="usr-name">Oscar Garner</h5>
                                                <p class="msg-title">ACCOUNT UPDATE</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </li>





                <li class="nav-item dropdown notification-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                        {% if request.user|notifications %}
                            <span class="badge badge-success"></span>
                        {% endif %}
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
                        <div class="notification-scroll">

                        {% for notification in request.user|notifications %}
                            <div class="dropdown-item">
                                <div class="media server-log">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server"><rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect><rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect><line x1="6" y1="6" x2="6" y2="6"></line><line x1="6" y1="18" x2="6" y2="18"></line></svg>
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">{{ notification.message }}</h6>
                                            <p class="">{{ notification.created }}</p>
                                        </div>

                                        <a href="{% url 'notification:read' notification.pk %}">
                                            <div class="icon-status">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            

                        
                        </div>
                    </div>
                    
                </li>





                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="user-profile-section">
                            <div class="media mx-auto">
                                <img src="{{ request.user.profile.image.url }}" class="img-fluid mr-2" alt="avatar">
                                <div class="media-body">
                                    <h5>{{ request.user.username }}</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> <span>Profile</span>
                            </a>
                        </div>
                        
                        <div class="dropdown-item">
                            <a href="auth_login.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> <span>Log Out</span>
                            </a>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    




        {% block body %}{% endblock body %}



        
    
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'user_profile/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'user_profile/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'user_profile/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user_profile/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'user_profile/assets/js/app.js' %}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'user_profile/plugins/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'user_profile/assets/js/custom.js' %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'user_profile/plugins/apex/apexcharts.min.js' %}"></script>
    <script src="{% static 'user_profile/assets/js/dashboard/dash_1.js' %}"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    <script src="{% static 'user_profile/plugins/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'user_profile/plugins/blockui/jquery.blockUI.min.js' %}"></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> -->
    <script src="{% static 'user_profile/assets/js/users/account-settings.js' %}"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'user_profile/plugins/drag-and-drop/dragula/dragula.min.js' %}"></script>
    <script src="{% static 'user_profile/plugins/drag-and-drop/dragula/custom-dragula.js' %}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script src="{% static 'user_profile/assets/js/ie11fix/fn.fix-padStart.js' %}"></script>
    <script src="{% static 'user_profile/plugins/editors/quill/quill.js' %}"></script>
    <script src="{% static 'user_profile/assets/js/apps/todoList.js' %}"></script>
    
    <script src="{% static 'user_profile/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'user_profile/assets/js/apps/contact.js' %}"></script>

    <!--  BEGIN CUSTOM SCRIPT FILE  -->
    <script src="{% static 'user_profile/assets/js/scrollspyNav.js' %}"></script>
    <script>
        $('#yt-video-link').click(function () {
            var src = 'https://www.youtube.com/embed/YE7VzlLtp-4';
            $('#videoMedia1').modal('show');
            $('<iframe>').attr({
                'src': src,
                'width': '560',
                'height': '315',
                'allow': 'encrypted-media'
            }).css('border', '0').appendTo('#videoMedia1 .video-container');
        });
        $('#vimeo-video-link').click(function () {
            var src = 'https://player.vimeo.com/video/1084537';
            $('#videoMedia2').modal('show');
            $('<iframe>').attr({
                'src': src,
                'width': '560',
                'height': '315',
                'allow': 'encrypted-media'
            }).css('border', '0').appendTo('#videoMedia2 .video-container');
        });
        $('#videoMedia1 button, #videoMedia2 button').click(function () {
            $('#videoMedia1 iframe, #videoMedia2 iframe').removeAttr('src');
        });
    </script>    
    <!--  END CUSTOM SCRIPT FILE  -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'user_profile/plugins/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'user_profile/plugins/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'user_profile/plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="{% static 'user_profile/plugins/fullcalendar/custom-fullcalendar.advance.js' %}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->


    {% block pricing_script %}{% endblock pricing_script %}

</body>
</html>